<style>
  body {
    background-image: linear-gradient(to bottom right, #000f00, rgb(198, 247, 211));
    overflow-x: hidden;
  }

  .title h1 {
    padding: 3vh 0vh 20vh 5vh;
    font-size-adjust: none;
    font-weight: bold;
    font-size: 32px;
  }

  .title a {
    text-decoration: none;
    color: #8ac68a;
  }

  .title aside {
    position: absolute;
    top: 4vh;
    right: 3vh;
  }
</style>

<body>
  <div class="title">

    <h1><a href=""><i class="fa-brands fa-bandcamp"></i> School name</a></h1>
    <aside> <a href="login">Login</a> | <a href="registration">Register</a></aside>
    <p></p>
  </div>
  <section class="right hidden classRoom" *ngIf="this.classesToShow.length>0">
    <h2>{{this.classesToShow[0].ClassRoom.title}}</h2>
    <img class="classCoverSrc 0">
  </section>
  <section class="left hidden classRoom" *ngIf="this.classesToShow.length>1">
    <h2>{{this.classesToShow[1].ClassRoom.title}}</h2>
    <img class="classCoverSrc 1">
  </section>
  <section class="right hidden classRoom" *ngIf="this.classesToShow.length>2">
    <h2>{{this.classesToShow[2].ClassRoom.title }}</h2>
    <img class="classCoverSrc 2">
  </section>
  <footer>
    Footer here
  </footer>
</body>
