<style>
  body {
    background-image: linear-gradient(to bottom right, #000f00, rgb(198, 247, 211));
    overflow-x: hidden;
  }

  .title h1 {
    padding: 3vh 0vh 20vh 5vh;
    font-size-adjust: none;
    font-weight: bold;
    font-size: 32px;
  }

  .title a {
    text-decoration: none;
    color: #8ac68a;
  }

  .title aside {
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    background-color: white;
    position: fixed;
    top: 4vh;
    right: 3vh;
  }
</style>

<body>
  <div class="title">
    <h1><a href=""><i class="fa-brands fa-bandcamp"></i> School name</a></h1>
    <aside> <a href="login">Login</a> | <a href="registration">Register</a></aside>
    <p></p>
  </div>
  <section>

  </section>
  <div class="hidden" *ngFor="let class of this.classesToShow;index as i; async">
    <app-class-view [id]="class.id" [left]="i%2==0"></app-class-view>
  </div>
  <footer>
    Footer here
  </footer>
</body>
