<nav>
  <ul id="menu">
    <li *ngFor="let link of Links">
      <button [routerLink]="['', { outlets: { content: [link.fragment] } }]">
        {{ link.title }}
      </button>
    </li>
  </ul>
  <footer id="User" *ngIf="user">
    <div class="container-fluid">
      <div class="row">
        <div class="col justify-content-between">
          <div id="logged" class="col">Logged as:</div>
          <div class="col">
            {{ this.user.firstName }} {{ this.user.lastName }}
          </div>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col">
          <a class="link" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </footer>
</nav>
