.wrapper{
  margin-top: 2%;
  position:relative;
  border-radius: 10px;
  margin-right: 2%;
  margin-bottom: 30px;
}
#fileinputlabel{
  border:1px solid black;
  border-radius: 10px;
  padding:10px;
}
form{
  text-align: center;
}

#buttonSpace{
  min-height: 35px;
  max-height: 35px;
  position: relative;
}
button.deleteFile {
  border:1px solid rgb(255, 0, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 40px;
  background-color: red;
  top:10px;
  position: absolute;
}
h3{
  padding-top:0;
}
ul{
  list-style-type: none;
  overflow-x:auto;
  white-space: nowrap;
}
#fileTitle{
  display: flex;
  align-content: center;
  padding-top: 10px;
  width: fit-content;
  position: relative;
}
ul#fileList li{
  max-height: fit-content;
  text-align: start;
  min-width: 250px;
  max-width: 250px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.CardText{
  margin-left: 10px;
  height: fit-content;
}
.title{
  padding: 0;
  align-self: center;
}

a{
  text-decoration: none;
  color: black;
  transition: 300ms;
  min-height: 200px;
  max-height: 200px;

}

a:hover{
  transform: scale(1.1);
}
a:hover #downloadIcon{
  opacity: 1;
}

.message{
  padding-left: 30px;
  padding-bottom: 30px;
}

::-webkit-scrollbar {
  width: 20px;

}

#filetoupload{
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
}
button.add{
  border:1px solid rgba(0, 0, 0, 0.699);
  border-radius: 15px;
  background-color: rgb(107, 201, 143);
  width: 35px;
  margin-left: 20px;

  opacity: 0.7;
  transition: 300ms;
}
button.delete{
  border:1px solid rgba(0, 0, 0, 0.699);
  border-radius: 15px;
  background-color: rgb(255, 0, 0);
  width: 35px;
  margin-left: 20px;
  opacity: 0.7;
  transition: 300ms;
}

#filename{
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2px;
  margin-bottom: 3px;
}
#fileActions{
  display: inline-flex;
}

#notesSpace{

  min-height: 200px;
  max-height: 200px;
}

button.add:hover{
  opacity: 1;
  transform: scale(1.4);
}
button.delete:hover{
  opacity:1;
  transform: scale(1.4);
}
#downloadIcon{
 opacity: 0;
 transition: 300ms;
 bottom:20px;
 left: 20px;
 position: absolute;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  visibility: hidden;
}
.action{
  border:1px solid rgba(0, 0, 0, 0.699);
  border-radius: 15px;
  width: fit-content;
  margin-left: 20px;
  opacity: 0.7;
  transition: 200ms;
}
.action:hover{
  opacity: 1;
  transform: scale(1.4);
}
.action#join{
  background-color: rgb(107, 201, 143);
}
.action#close{
  background-color: rgb(255, 0, 0);
}
.action#leave{
  background-color: rgb(255, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(214, 255, 198);
  border-radius: 10px;
}
