<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">File Upload</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label *ngIf="this.filesToUpload.length<4" for="fileinput" id="fileinputlabel">Choose File</label>
        <input class="form-group" id="fileinput" (change)="handleFileInput($event)" style="display:none;" type="file"
          value="Choose File">
      </div>
    </form>
    <ul id="filetoupload">
      <li class="files" *ngFor="let file of filesToUpload">
        <button class="btn btn-close btn-danger" (click)="remove(file)"></button>
        {{file.name}}
      </li>
    </ul>
    <label for="notes">Add Notes</label>
    <input type="textarea" id="notes">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close('Upload click');uploadFiles()">Upload</button>
  </div>
</ng-template>
<div class="content">
  <ng-container *ngIf="this.class">
    <h3>
      {{this.class.className}}
    </h3>
    <h5>
      By {{this.class.creator}}
    </h5>
    <div class="wrapper" id="members">
      <h6 class="title">Members</h6>
      <ul *ngIf="class.members!=undefined && class.members.length>0">
        <li *ngFor="let member of class.members">
          {{member.username}}
        </li>
      </ul>
      <div class="message" *ngIf="class.members==undefined||class.members.length==0">
        No members to show
      </div>
    </div>
    <div class="wrapper" id="files">

      <h6 class="title">Files
        <button class="add" (click)="openFileUpdate(content)" *ngIf="creator">+</button>
      </h6>
      <ul *ngIf="class.uploadedDocuments!=undefined && class.uploadedDocuments.length>0">
        <li *ngFor="let file of class.uploadedDocuments">
          <a class="card" (click)="download(file.id,file.title)">
            <div class="CardText">
              <h5>{{file.title.split('.')[0]}}</h5>
              Update:{{file.dateOfUpdate.toString().split('T')[0]}}
              <br>
              Notes:{{file.notes}}
            </div>
          </a>
        </li>
      </ul>
      <div class="message" *ngIf="class.uploadedDocuments==undefined||class.uploadedDocuments.length==0">
        No Files to show
      </div>
    </div>
  </ng-container>
  <button class="action" *ngIf="creator&&(!class.members || class.members.length<1)" (click)="closeClassRoom()">
    Close Class Room
  </button>
  <button class="action" *ngIf="member&&!creator" (click)="this.leaveClassRoom()">
    Leave Class
  </button>
  <button class="action" *ngIf="!member&&!creator" (click)="this.joinClassRoom()">
    Join Class
  </button>
</div>
