<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">File Upload</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label *ngIf="this.filesToUpload.length<4" for="fileinput" id="fileinputlabel">Choose File</label>
        <input class="form-group" id="fileinput" (change)="handleFileInput($event)" style="display:none;" type="file"
          value="Choose File">
      </div>
    </form>
    <ul id="filetoupload">
      <li class="files" *ngFor="let file of filesToUpload">
        <button class="btn btn-close btn-danger" (click)="remove(file)"></button>
        {{file.name}}
      </li>
    </ul>
    <label for="notes">Add Notes</label>
    <input type="textarea" id="notes" [(ngModel)]="this.notes">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close('Upload click');uploadFiles()">Upload</button>
  </div>
</ng-template>
<ng-template #addUser let-modal>
  <div class="modal-header">
    daje
  </div>
</ng-template>
<div class="content">
  <ng-container *ngIf="this.class">
    <h3>
      {{this.class.className}}
    </h3>
    <h5>
      By {{this.class.creator}}
    </h5>
    <div class="wrapper" id="members">
      <h6 class="title">Members</h6>
      <ul *ngIf="class.members!=undefined && class.members.length>0">
        <li *ngFor="let member of class.members">
          {{member.username}}
        </li>
      </ul>
      <div class="message" *ngIf="class.members==undefined||class.members.length==0">
        No members to show
      </div>
    </div>
    <div id="fileTitle">
      <h6 class="title">Files</h6>
      <div id="fileActions" *ngIf="this.creator">
        <button class="add" (click)="openFileUpdate(content);this.modify=false"><i class="fa-solid fa-plus"></i></button>
        <div id="actionDelete"*ngIf="this.class.uploadedDocuments&&this.class.uploadedDocuments.length>0">
          <button *ngIf="!modify" class="delete" (click)="mode()"><i class="fa-solid fa-trash"></i></button>
          <button *ngIf="modify" class="add" (click)="mode()"><i class="fa-solid fa-check"></i></button>
        </div>
      </div>
    </div>
    <div class="wrapper" id="files">

      <ul id="fileList" *ngIf="class.uploadedDocuments!=undefined && class.uploadedDocuments.length>0">
        <li *ngFor="let file of class.uploadedDocuments">
          <div id="buttonSpace">
            <button *ngIf="modify" [@inOutAnimation] (click)="deleteFile(file.id,file.title)" class="deleteFile"><i
                class="fa-solid fa-xmark"></i></button>
          </div>
          <a class="card filecard" (click)="download(file.id,file.title)">
            <div class="CardText">
              <h6 id="filename">{{file.title}}</h6>
              Update:{{file.dateOfUpdate.toString().split('T')[0]}}
              <br>
              Notes:<div id="noteSpace">{{file.notes}}</div>

            </div>
            <i class="fa-solid fa-download" id="downloadIcon"></i>
          </a>
        </li>
      </ul>
      <div class="message" *ngIf="class.uploadedDocuments==undefined||class.uploadedDocuments.length==0">
        No Files to show
      </div>
    </div>
  </ng-container>
  <button class="action" id="close" *ngIf="creator&&(!class.members || class.members.length<1)" (click)="closeClassRoom()">
    Close Class Room
  </button>
  <h6 *ngIf="creator&&(class.members&&class.members.length>0)">You can only close Empty Class Rooms</h6>
  <button class="action" id="leave" *ngIf="member&&!creator" (click)="this.leaveClassRoom()">
    Leave Class
  </button>
  <button class="action" id="join" *ngIf="!member&&!creator" (click)="this.joinClassRoom()">
    Join Class
  </button>
</div>
