<div class="content">
  <h2>{{toShow.title}}</h2>
  <div id="classCover">
    <img id="classCoverSrc">
  </div>
  <button class="confirm" *ngIf="!member" (click)="this.joinClassRoom()">
    <i class="fa-regular fa-hand-point-right"></i> Join
  </button>
  <a *ngIf="member" (click)="classRoomPage()">
    Class Room Page
  </a>
  <h5>Scopes</h5>
  <ul>
    <li *ngFor="let scope of toShow.scopes async" ngbPopover="{{scope.description}}" popoverTitle="{{scope.title}}"
      triggers="mouseenter:mouseleave">
      {{scope.title}}
    </li>
  </ul>
  <h5>Description</h5>
  <p>{{toShow.description}}</p>
  <div class="suggestion" *ngIf="this.authority=='STUDENT'">
    <h4>You might also like</h4>
    <ul class="suggestedClassRooms">
      <li *ngFor="let class of suggestedClassRooms async">
        <a class="classLink" (click)="navigate(class.id)">
          <div class="CardText">
            <h6>{{class.title}}</h6>
            <p>{{class.description}}</p>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
