button.deleteFile {
  border: 1px solid rgb(255, 0, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 40px;
  background-color: red;
  top: 10px;
  position: absolute;
}

#buttonSpace {
  min-height: 35px;
  max-height: 35px;
  position: relative;
}
a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  transition: 300ms;
  min-height: 150px;
  max-height: 150px;
}
a:hover {
  transform: scale(1.1);
}
#downloadIcon {
  opacity: 0;
  transition: 300ms;
  bottom: 20px;
  right: 20px;
  position: absolute;
}
a:hover #downloadIcon {
  opacity: 1;
}
.CardText {
  margin-left: 5px;
  height: fit-content;
}
.wrapper {
  margin-top: 2%;
  position: relative;
  border-radius: 10px;
  margin-right: 2%;
  margin-bottom: 30px;
}
.CardText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
